<h1 mat-dialog-title>{{title}}</h1>
<mat-accordion class="accordion-header" *ngIf="personForm" [formGroup]="personForm">
  <mat-expansion-panel [expanded]="step === 0" (opened)="step = 0" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Pessoal
      </mat-panel-title>
      <mat-panel-description>
        Informações pessoais
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <label>
        <input matInput type="text" placeholder="Nome" formControlName="name">
      </label>
      <mat-error *ngIf="personForm.get('name').hasError('required')">O nome é <strong>requerido</strong>!</mat-error>
    </mat-form-field>

    <div class="multiple-field">
      <mat-form-field>
        <mat-label>Gênero</mat-label>
        <mat-select formControlName="gender">
          <mat-option>Nenhum</mat-option>
          <mat-option *ngFor="let gender of personGenders" [value]="gender">
            {{personGender[gender]}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="personForm.get('gender').hasError('required')">O gênero é <strong>requerido</strong>!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput [max]="today" [matDatepicker]="datepicker" placeholder="Data de Nascimento" formControlName="birthDate">
        </label>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
        <mat-error *ngIf="personForm.get('birthDate').hasError('required')">A data de nascimento é <strong>requerida</strong>!</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field>
      <label>
        <input matInput type="email" placeholder="Email" formControlName="email">
      </label>
      <mat-error *ngIf="personForm.get('email').hasError('email')">O email é <strong>inválido</strong>!</mat-error>
      <mat-hint>E.g. exemplo@dominio.com</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <label>
        <input matInput type="tel" placeholder="Telefones" formControlName="phones">
      </label>
      <mat-error *ngIf="personForm.get('phones').hasError('required')">Pelo menos um telefone é <strong>requerido</strong></mat-error>
      <mat-error *ngIf="personForm.get('phones').hasError('pattern')">O texto é <strong>inválido</strong>!</mat-error>
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Próximo</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="step = 1" formGroupName="address" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Endereço
      </mat-panel-title>
      <mat-panel-description>
        Informe seu endereço postal
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <label>
        <input matInput type="text" placeholder="Logradouro" formControlName="street">
      </label>
      <mat-error *ngIf="personForm.get('address.street').hasError('required')">O logradouro é <strong>requerido</strong>!</mat-error>
    </mat-form-field>

    <div class="multiple-field">
      <mat-form-field>
        <label>
          <input matInput type="text" placeholder="Número do logradouro" formControlName="number">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput type="text" placeholder="Número do apartamento/quarto" formControlName="numberAptRoom">
        </label>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Complemento</mat-label>
      <label>
      <textarea matInput maxlength="255" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                formControlName="complement"></textarea>
      </label>
      <mat-hint align="end">{{personForm.get('address.complement').value.length}} / 255</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <label>
        <input matInput type="text" placeholder="Bairro" formControlName="neighborhood">
      </label>
    </mat-form-field>

    <mat-form-field>
      <label>
        <input matInput type="text" placeholder="Código Postal" maxlength="9" formControlName="postalCode">
      </label>
      <mat-error *ngIf="personForm.get('address.postalCode').hasError('required')">O código postal é <strong>requerido</strong>!</mat-error>
      <mat-hint>Incluir hífen!</mat-hint>
      <mat-hint align="end">{{personForm.get('address.postalCode').value.length}} / 9</mat-hint>
    </mat-form-field>

    <div class="multiple-field">
      <mat-form-field>
        <mat-label>Cidade</mat-label>
        <mat-select formControlName="cityId">
          <mat-option>Nenhuma</mat-option>
          <mat-option *ngFor="let city of cities" [value]="city.id">
            {{city.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="personForm.get('address.cityId').hasError('required')">A cidade é <strong>requerida</strong>!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Estado</mat-label>
        <mat-select formControlName="stateId">
          <mat-option>Nenhum</mat-option>
          <mat-option *ngFor="let state of states" [value]="state.id">
            {{state.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="personForm.get('address.stateId').hasError('required')">O estado é <strong>requerido</strong>!</mat-error>
      </mat-form-field>
    </div>

    <mat-action-row>
      <button mat-button color="accent" (click)="prevStep()">Voltar</button>
      <button mat-flat-button color="primary" *ngIf="personForm" [disabled]="personForm.invalid" (click)="save()">{{data.person.id ? 'Salvar' : 'Cadastrar'}}</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<div mat-dialog-actions>
  <button mat-flat-button id="cancel-btn" color="warn" (click)="cancel()">Cancelar</button>
</div>
