.accordion-header .mat-expansion-panel-header-title,
.accordion-header .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.accordion-header .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-action-row {
  padding: 6px 8px;
}

.mat-form-field {
  width: 100%;
}

.multiple-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .mat-form-field {
    width: 40%;
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-evenly;
}

#cancel-btn {
  width: 40%;
  justify-content: space-evenly;
}
