<h1 mat-dialog-title>Criando uma disciplina</h1>
<div mat-dialog-content [formGroup]="subjectForm">
  <mat-form-field class="field">
    <label>
      <input matInput type="text" placeholder="Nome" formControlName="name">
    </label>
    <mat-error *ngIf="subjectForm.get('name').hasError('required')">O nome é <strong>requerido</strong>!</mat-error>
  </mat-form-field>

  <mat-form-field class="field">
    <mat-label>Descrição</mat-label>
    <label>
      <textarea matInput maxlength="255" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                formControlName="description"></textarea>
    </label>
    <mat-hint align="end">{{subjectForm.get('description').value.length}} / 255</mat-hint>
  </mat-form-field>

  <mat-form-field class="field">
    <mat-label>Professor</mat-label>
    <mat-select formControlName="professor">
      <mat-option>Nenhum</mat-option>
      <mat-option *ngFor="let professor of professors" [value]="professor.id">
        {{professor.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="subjectForm.get('professor').hasError('required')">O professor é <strong>requerido</strong>!</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" [disabled]="subjectForm.invalid" (click)="save()">Criar</button>
  <button mat-flat-button color="primary" (click)="cancel()">Cancelar</button>
</div>
