.mat-dialog-content {
  display: flex;
  flex-flow: column nowrap;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-evenly;
}

.mat-flat-button {
  width: 40%;
}

.field {
  margin-top: 5px;
}
