#person-info {
  display: flex;
  flex-flow: column nowrap;
}

.info {
  margin-top: 10px;
  font-size: 18px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-evenly;
}

.mat-flat-button {
  width: 60%;
}
