<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <label>
      <input matInput placeholder="Nome" value="{{person.name}}" disabled>
    </label>
  </mat-form-field>

  <div class="multiple-field">
    <mat-form-field>
      <label>
        <input matInput placeholder="Gênero" value="{{personGender[person.gender]}}" disabled>
      </label>
    </mat-form-field>

    <mat-form-field>
      <label>
        <input matInput [matDatepicker]="datepicker" placeholder="Data de Nascimento" value="{{person.birthDate}}" disabled>
      </label>
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
  </div>

  <mat-form-field>
    <label>
      <input matInput placeholder="Email" value="{{person.email || 'N/D'}}" disabled>
    </label>
  </mat-form-field>

  <mat-chip-list aria-label="Phones" style="padding-bottom: 15px">
    <mat-chip *ngFor="let phone of person.phones">
      <mat-icon>phone</mat-icon>
      {{phone}}
    </mat-chip>
  </mat-chip-list>

  <mat-form-field>
    <label>
      <input matInput placeholder="Logradouro" value="{{person.address.street}}" disabled>
    </label>
  </mat-form-field>

  <div class="multiple-field">
    <mat-form-field>
      <label>
        <input matInput placeholder="Número do logradouro" value="{{person.address.number || 'N/D'}}" disabled>
      </label>
    </mat-form-field>

    <mat-form-field>
      <label>
        <input matInput placeholder="Número do apartamento/quarto" value="{{person.address.numberAptRoom || 'N/D'}}" disabled>
      </label>
    </mat-form-field>
  </div>

  <mat-form-field>
    <label>
      <input matInput placeholder="Complemento" value="{{person.address.complement || 'N/D'}}" disabled>
    </label>
  </mat-form-field>

  <mat-form-field>
    <label>
      <input matInput placeholder="Bairro" value="{{person.address.neighborhood || 'N/D'}}" disabled>
    </label>
  </mat-form-field>

  <mat-form-field>
    <label>
      <input matInput placeholder="Código Postal" value="{{person.address.postalCode}}" disabled>
    </label>
  </mat-form-field>

  <div class="multiple-field">
    <mat-form-field>
      <label>
        <input matInput placeholder="Cidade" value="{{person.address.city.name}}" disabled>
      </label>
    </mat-form-field>

    <mat-form-field>
      <label>
        <input matInput placeholder="Estado" value="{{person.address.city.state.name}} - {{person.address.city.state.abbreviation}}" disabled>
      </label>
    </mat-form-field>
  </div>
</div>
<div class="mat-dialog-actions">
  <button mat-flat-button color="primary" (click)="close()">Fechar</button>
</div>
