.mat-dialog-content {
  display: flex;
  flex-flow: column nowrap;
}

.multiple-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .mat-form-field {
    width: 40%;
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-evenly;
}

.mat-flat-button {
  width: 60%;
}
